##
# .gitignore
##

# Don't store the virtualenv stuff
bin/**
include/**
lib/**

# Python temporary stuff
**/__pycache__/**
*.pyc

# Don't publish api keys:
config.sh

# Don't worry about pip files:
pip-selfcheck.json
