##
# .gitignore
##

# Don't store the virtualenv stuff
bin/**
include/**
lib/**

# Python temporary stuff
**/__pycache__/**
*.pyc

# Don't publish api keys or cookie data:
config.sh
scraper/cookies.json

# Don't publish my voting data just yet...
scraper/my_votes.txt
scraper/data.csv

# Don't worry about pip files:
pip-selfcheck.json
